@use '../themes/defaultTheme' as *;
@use '../util/variables' as *;
@use '../util/mixins' as *;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: white;
  // background-color: linear-gradient(to right, $primary-1, $primary-8);
  color: $secondary-5;
  line-height: 1.5;
  font-size: 0.875rem;
}


main {
  min-height: 100vh;
  @include flex-center;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: $grey-4;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

@include tablet {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
