$transition: all 0.5s linear;
$spacing: 0.1rem;
$radius: .25rem;
$light-shadow: 0 5px 15px rgba(0,0,0,.1);
$dark-shadow: 0 5px 15px rgba(0,0,0,.3);
$max-width: 1170px; //max width of the site
$fixed-width: 620px; //min width of the site or the max width of the content