// shades of primary color
$primary-1: hsl(34, 86%, 17%);
$primary-2: hsl(34, 77%, 27%);
$primary-3: hsl(34, 72%, 37%);
$primary-4: hsl(34, 63%, 48%);
$primary-5: hsl(34, 78%, 60%);
$primary-6: hsl(34, 90%, 70%);
$primary-7: hsl(34, 90%, 76%);
$primary-8: hsl(34, 86%, 81%);
$primary-9: hsl(34, 90%, 88%);
$primary-10: hsl(204, 100%, 96%);


// shades of seconday color
$secondary-0: hsl(101, 21%, 21%);
$secondary-1: hsl(101, 21%, 29%);
$secondary-2: hsl(101, 21%, 37%);
$secondary-3: hsl(101, 21%, 45%);
$secondary-4: hsl(101, 21%, 52%);
$secondary-5: hsl(101, 21%, 58%);
$secondary-6: hsl(101, 21%, 67%);
$secondary-7: hsl(101, 21%, 74%);
$secondary-8: hsl(101, 21%, 81%);
$secondary-9: hsl(101, 21%, 88%);

// dark shades of grey color

$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%);
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);

// lighter shades of grey color

// misc color
$white: #eee;
$black: #222;
$red-dark: hsl(0, 67%, 44%);
$red-light: hsl(0, 67%, 57%);
$green-dark: hsl(125, 59%, 43%);
$green-light: hsl(125, 86%, 57%);
