// shades of primary color
$primary-1: hsl(205, 86%, 17%);
$primary-2: hsl(205, 77%, 27%);
$primary-3: hsl(205, 72%, 37%);
$primary-4: hsl(205, 63%, 48%);
$primary-5: hsl(205, 78%, 60%);
$primary-6: hsl(205, 90%, 70%);
$primary-7: hsl(205, 90%, 76%);
$primary-8: hsl(205, 86%, 81%);
$primary-9: hsl(205, 90%, 88%);
$primary-10: hsl(204, 100%, 96%);

// shades of seconday color
$seconday-0: hsl(30, 75%, 21%);
$seconday-1: hsl(30, 75%, 29%);
$seconday-2: hsl(30, 75%, 37%);
$seconday-3: hsl(30, 75%, 45%);
$seconday-4: hsl(30, 75%, 52%);
$seconday-5: hsl(30, 75%, 60%);
$seconday-6: hsl(30, 75%, 67%);
$seconday-7: hsl(30, 75%, 74%);
$seconday-8: hsl(30, 75%, 81%);
$seconday-9: hsl(30, 75%, 88%);

// dark shades of grey color

$grey-0: hsl(210, 30%, 21%);
$grey-1: hsl(210, 30%, 29%);
$grey-2: hsl(210, 30%, 37%);
$grey-3: hsl(210, 30%, 45%);
$grey-4: hsl(210, 30%, 52%);
$grey-5: hsl(210, 30%, 60%);
$grey-6: hsl(210, 30%, 67%);
$grey-7: hsl(210, 30%, 74%);
$grey-8: hsl(210, 30%, 81%);
$grey-9: hsl(210, 30%, 88%);

// lighter shades of grey color

// misc color
$white: #eee;
$black: #222;
$red-dark: hsl(0, 67%, 44%);
$red-light: hsl(0, 67%, 57%);
$green-dark: hsl(125, 59%, 43%);
$green-light: hsl(125, 86%, 57%);
