@use '../themes/defaultTheme' as *;
@use '../util/variables'as *;
@use '../util/mixins'as *;



// .btn {
//   border-color: transparent;
//   width: 35px;
//   height: 35px;
  
//   align-items: center;
//   justify-content: center;
//   border-radius: 100%;
  
//   cursor: pointer;
  
//   align-self: center;
// }

.container {
  display: flex;
  flex-flow: column;
  background: $white;
  margin-top: 8rem;
  text-align: center;
  border-radius: $radius;
  box-shadow: $light-shadow;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .question-area {
    display: flex;
    flex-flow: column;
    @include flex-center;
  }
}

@include tablet {
  .container {
    background: $white;
    // width: 100%;
    margin: 8rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    h3 {
      font-size: 20px;
      font-weight: 500;
    }
    
  }
}

svg {
  width: 35px;
  height: 35px;
}

